.contact {
  iframe,
  .contact-section-1 {
    h1 {
      // margin-bottom: 20px;
    }
  }
  .iframe-map {
    width: 100%;
    height: 500px;
  }
  #mapDiv {
    width: auto;
    height: 100%;
  }
}
